http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl

fastapi
uvicorn
pandas
scikit-learn
sentence-transformers
aiohttp
numpy
pydantic
python-multipart
google-generativeai 
python-dotenv